@import url("https://fonts.googleapis.com/css2?family=Comforter&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");
:root {
  --primary-color: #d4f534;
  --secondary-color: #7bff00;
  --background-color: #020202;
  --text-color: #eff1ed;
  --font-family: "Inter", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}
html,
body {
  height: 100%;
  background-color: var(--background-color);
  color: var(--text-color);
}
#mouseTail {
  position: fixed;
  top: 100px;
  left: 100px;
  width: 20px;
  height: 20px;
  background-color: var(--primary-color);
  border-radius: 50%;
  pointer-events: none;
  transform: translate(-50%, -50%);
  transition:
    transform 0.3s ease-out,
    background-color 0.3s ease;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1vmax 2vmax;
  background-color: rgba(36, 36, 36, 0.021);
  backdrop-filter: blur(10px);
}
nav .logo {
  font-family: "Comforter", cursive;
  font-size: 1.5rem;
  color: var(--primary-color);
}
.logo img {
  width: 80px;
  margin-right: 10px;
}
.logo a {
  display: flex;
  align-items: center;
  text-decoration: none;
}
.logo-text {
  font-size: 1.8vmax;
  color: var(--primary-color);
  font-family: Comforter, cursive;
}
nav ul {
  list-style: none;
  display: flex;
  gap: 2vmax;
}
nav ul li a {
  text-decoration: none;
  color: var(--text-color);
  font-weight: 500;
  transition: color 0.3s ease;
}
nav ul li a:hover {
  color: var(--primary-color);
  transition: all 0.3s ease;
  scale: 1.1;
}

#hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 80px);
  text-align: center;
  padding: 0 2vmax;
}

.hero-link {
  display: inline-block;
  margin-top: 20px;
  padding: 10px 20px;
  background-color: var(--primary-color);
  color: var(--background-color);
  text-decoration: none;
  font-weight: bold;

  border-radius: 50px;
  transition:
    background-color 0.3s ease,
    color 0.3s ease;
}
.hero-link:hover {
  background-color: var(--text-color);
  color: var(--background-color);
  transition:
    all 0.3s ease,
    color 0.3s ease;
  transform: scale(1.1);
}
