@import url("https://fonts.googleapis.com/css2?family=Comforter&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");
:root {
  --primary-color: #d4f534;
  --secondary-color: #7bff00;
  --background-color: #020202;
  --text-color: #eff1ed;
  --font-family: "Inter", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}
html,
body {
  height: 100%;
  background-color: var(--background-color);
  color: var(--text-color);
}
#welcome {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  z-index: 1000;
  background-color: var(--background-color);
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
#welcome .welcome-text {
  font-size: 4vmax;
  color: var(--primary-color);
  font-family: "Comforter", cursive;
}
#welcome h2 {
  font-size: 1.5vmax;
  color: var(--text-color);
  margin-top: 10px;
  font-family: "Comforter", cursive;
}
#mouseTail {
  position: fixed;
  top: 0;
  left: 0;
  width: 20px;
  height: 20px;
  background-color: transparent;
  border: 1px solid var(--primary-color);
  border-radius: 50%;
  pointer-events: none;
  transform: translate(-50%, -50%);
  z-index: 999;
}
header {
  background-image:
    linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.9)),
    url(assets/img/background.jpg);
  background-size: cover;
  background-position: bottom;
  height: 100vh;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1vmax 2vmax;
  background-color: rgba(36, 36, 36, 0.021);
  backdrop-filter: blur(10px);
}
nav .logo {
  font-family: "Comforter", cursive;
  font-size: 1.5rem;
  color: var(--primary-color);
}
.logo img {
  width: 80px;
  margin-right: 10px;
}
.logo a {
  display: flex;
  align-items: center;
  text-decoration: none;
}
.logo-text {
  font-size: 2vmax;
  color: var(--primary-color);
  font-family: Comforter, cursive;
}
nav ul {
  list-style: none;
  display: flex;
  gap: 2vmax;
}
nav ul li a {
  text-decoration: none;
  color: var(--text-color);
  font-weight: 400;
  transition: color 0.3s ease;
  font-size: 0.8vmax;
}
nav ul li a:hover {
  color: var(--primary-color);
  transition: all 0.3s ease;
  scale: 1.1;
}
#menu {
  position: fixed;
  top: 0;
  right: 0;
  width: 25%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.39);
  backdrop-filter: blur(10px);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
  /* transform: translateX(100%); */
}
#menu ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 2vmax;
}
#menu ul li a {
  text-decoration: none;
  color: var(--text-color);
  font-weight: 400;
  transition: color 0.3s ease;
  font-size: 1.5vmax;
}
#menu ul li a:hover {
  color: var(--primary-color);
  transition: all 0.3s ease;
  transform: scale(1.1);
}
#menu i {
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 1.5vmax;
  color: var(--text-color);
  cursor: pointer;
}
#hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  text-align: center;
  padding: 0 2vmax;
}

.hero-link {
  display: inline-block;
  margin-top: 20px;
  padding: 10px 20px;
  background-color: var(--primary-color);
  color: var(--background-color);
  text-decoration: none;
  font-weight: bold;

  border-radius: 50px;
  transition:
    background-color 0.3s ease,
    color 0.3s ease;
}
.hero-link:hover {
  background-color: var(--text-color);
  color: var(--background-color);
  transition:
    all 0.3s ease,
    color 0.3s ease;
  transform: scale(1.1);
}
.hero-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin-top: -150px;
}
#threedObject {
  width: 100%;
  height: 100%;
  margin-top: -200px;
}

.titles {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-top: -150px;
}
.hero-content .hero-subtitle {
  font-size: 1.5vmax;
  color: var(--text-color);
  font-family: Rubik, sans-serif;
}
.hero-content .hero-title {
  font-size: 8vmax;
  color: var(--primary-color);
  font-family: "Comforter", cursive;
  font-weight: 500;
}
#about {
  height: 100vh;
  background-color: var(--background-color);
}
